[Desktop Entry]
Type=Application
Version=1.5
Name=Windows Terminal (.NET)
GenericName=Terminal Emulator
Comment=Open tabs, panes, and command-line applications
Icon=com.awakecoding.WindowsTerminalDotNet
Exec="/opt/windows-terminal-dotnet/WindowsTerminal" %u
TryExec=/opt/windows-terminal-dotnet/WindowsTerminal
Terminal=false
X-TerminalArgExec=--
StartupNotify=true
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;cmd;powershell;wsl;
MimeType=x-scheme-handler/wt-dotnet;
Actions=NewWindow;NewTab;

[Desktop Action NewWindow]
Name=New Window
Exec="/opt/windows-terminal-dotnet/WindowsTerminal" -w new

[Desktop Action NewTab]
Name=New Tab
Exec="/opt/windows-terminal-dotnet/WindowsTerminal" -w use-any
